server:
    port: 8000
    servlet:
        context-path: /
        encoding:
            charset: utf-8

spring:
  datasource:
    url: jdbc:mariadb://${rds.hostname}:${rds.port}/${rds.db.name}
    driver-class-name: org.mariadb.jdbc.Driver
    username: ${rds.username}
    password: ${rds.password}

    output:
        ansi:
            enabled: always

logging:
    level:
        "[org.hibernate.SQL]": DEBUG
        "[site.metacoding.white]": DEBUG
