server:
    port: 8000
    servlet:
        context-path: /
        encoding:
            charset: utf-8
spring:
    datasource:
        url: jdbc:h2:mem:test;MODE=MYSQL
        driver-class-name: org.h2.Driver
        username: sa
        password:

    h2:
        console:
            enabled: true
            path: /h2-console
            settings:
                trace: false # Print additional trace information
                web-allow-others: true
